.menu-item:nth-child(3) {
  font-weight: bold;
}
form {
  padding: 1em;
}

form div {
  padding: 1em 0em;
}

input[type="text"]:focus {
  background-color: rgb(255, 255, 152);
}

input[type="email"]:valid {
  background-color: rgb(152, 255, 173);
}
