.hover-zoom {
    overflow: hidden;
    margin: 8px;
    min-width: 240px;
    max-width: 320px;
    width: 100%;
  }
  
  .hover-zoom img {
    transition: all 0.3s;
    box-sizing: border-box;
    max-width: 100%;
  }
  
  .hover-zoom:hover img {
    transform: scale(1.3);
  }
  